{{>head}}
{{>navbar}}

<div class="row">

    <div class="col-8">
<h1>capitan american</h1>
<p>
  Lorem ipsum dolor sit
</p>
    </div>


<div class="col-4">
<img src="assets/img/capitan-america.jpg" class="img-thumbnail">
</div>


</div>





{{>footer}}